{% extends "admin_base.html" %}

{% block incontent %}
<h1 class="title">
  Avoor Administration
</h1>

<p>This section contains tools for managing Avoor.</p>
<p>To return to Avoor, use the "Return to Avoor" option.</p>

<br/>
<div class="notification is-danger">
  If someone asks you to enter something into the developer console or click on a bookmark on any administration page, <b>do not do it.</b>
  <br/>
  Doing so might lead to your account being compromised and hackers getting access to the administration section.
</div>
{% endblock %}
